{% extends 'base.template.html' %}

{% block content %}
<h1>Your shopping cart</h1>
<ul>
    {%for key, value in cart.items%}
    <li>
        {{value.title}} x {{value.qty}}<br/>
        {{value.cost}}
        <form method='POST' action='{% url "update_cart_quantity" book_id=value.id %}'>
            {% csrf_token %}
            <a href="{% url 'remove_from_cart' book_id=value.id %}" class = "btn btn-danger">Remove</a>
            <input type='text' name='qty' value = '{{value.qty}}' style = "width:20px"/>
            <input type = "submit" value="Update Quantity" class = "btn btn-primary btn-sm"/>
        </form>
    </li>
    {% endfor %}
</ul>
<h3>Cart Total: ${{total}}</h3>
{%endblock%}