{% extends 'base.template.html' %}
{%load static %}

{%block content%}
    <h1>Authors</h1>
    <p>
        Here you can see all the Authors that we have.
    </p>
    <ul>
        {%for author in authors %}
        <li>
            {{author.first_name}} {{author.last_name}} 
            <a href='{% url 'update_author_route' author_id=author.id%}'>Edit</a>
            <a href='{% url 'delete_author_route' author_id=author.id%}'>Delete</a>
        </li>
        {%endfor%}
    </ul>
{% endblock %}}
