{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{%load static %}

{%block content%}
    <h1>Books</h1>
    <form method='GET'>
    {{search_form|crispy}}
    <input type='submit' value='Search'/>
    </form>
    <p>
        Here you can see all the books that we have.
    </p>
    <ul>
        {%for book in books %}
        <li>
            <a href="{% url 'view_book_details' book_id=book.id %}">{{book.title}}</a>
            <a href="{% url 'update_book_route' book_id=book.id %}">Edit</a>
            <a href="{% url 'delete_book_route' book_id=book.id %}">Delete</a>
            <a href="{% url 'add_to_cart' book_id=book.id %}">Add to Cart</a>
        </li>
        {%endfor%}
    </ul>
{%endblock%}
